DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_RESULTS_CHANNEL_ID=
DISCORD_CATEGORY_ID=
DISCORD_BOT_TOKEN=

DEVELOPMENT_HASH=
VITE_DEVELOPMENT_HASH=

VITE_PEERJS_HOST=peer.ajotanc.com.br
VITE_PEERJS_PORT=443
VITE_PEERJS_PATH=/peerjs
VITE_PEERJS_SECURE=true

VITE_TURN_URL_UDP=turn:global.relay.metered.ca:80
VITE_TURN_URL_TCP=turn:global.relay.metered.ca:80?transport=tcp
VITE_TURN_URL_TLS=turns:global.relay.metered.ca:443?transport=tcp
VITE_TURN_USER=
VITE_TURN_CREDENTIAL=
